.App {
  text-align: center;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  background-color: aquamarine;
  box-shadow: 3px 3px 3px 3px grey;
  color: white;
}

header > ul {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

header > ul li {
  margin-right: 10px;
}
